<!-- Logo logic taken from partial navbar.html -->
<!-- The rest adapted from hwsecurity.dev -->
{{/* Get site logo. */}}
{{ $show_logo := site.Params.main_menu.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 65)) }}
{{ end }}

<footer class="site-footer px-3 px-lg-0">
  <div class="row" style="font-size: 0.75rem;">
    <div class="col-xs-12 col-sm-12 col-md-4 align-self-top">
      <p>
        <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}">
      </p>
      <p class="text-left">© 2018 PurpleTeam-Labs
        <br>
        Created by <a href="https://binarymist.io" target="_blank">BinaryMist</a></p>
    </div>
    <!-- Site Map -->
    <div class="col-xs-6 col-sm-6 col-md-2 align-self-top">
      <p class="text-left text-uppercase font-weight-bold">
        Product
      </p>
      <p class="text-left">
        <a href="/product/">Overview</a>
        <br>
        <a href="/why-purpleteam/">Why PurpleTeam</a>
        <br>
        <a href="/product/#how-it-works">How it works</a>
        <br>
        <a href="/product/#what-it-tests">What it tests</a>
        <br>
        <a href="/product/#composition">Composition</a>
        <br>
        <a href="/pricing/">Pricing</a>
        <br>
        <a href="/doc/faq/">FAQ</a>
        <br>
      </p>      
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2 align-self-top">
      <p class="text-left text-uppercase font-weight-bold">
        Resources
      </p>
      <p class="text-left">
        <a href="/doc/quick-start/">Getting Started</a>
        <br>
        <a href="/doc/">Documentation</a>
        <br>
        <a href="https://github.com/purpleteam-labs/purpleteam#configure" target="_blank">Configure CLI</a>
        <br>
        <a href="/doc/cloud/" target="_blank">BinaryMist PurpleTeam</a>
        <br>
        <a href="/doc/local/" target="_blank">OWASP PurpleTeam</a>
        <br>
        <a href="/doc/trouble-shooting/">Troubleshooting</a>
        <br>
        <a href="https://binarymist.blog" target="_blank">Blog</a>
        <br>
      </p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2 align-self-top">
      <p class="text-left text-uppercase font-weight-bold">
        Company
      </p>
      <p class="text-left">
        <a href="/about/" target="_blank">About</a>
        <br>
        <a href="/privacy/" target="_blank">Privacy</a>
        <br>
        <a href="/security-policy/" target="_blank">Security</a>
        <br>
      </p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2 align-self-top">
      <p class="text-left text-uppercase font-weight-bold">
        Contact
      </p>
      <p class="text-left">
        <a href="/contact/">Contact Us</a>
        <br>
        <a href="mailto:info@purpleteam-labs.com">info@purpleteam-labs.com</a>
        <br><br>
        <a href="https://github.com/purpleteam-labs" target="_blank"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
        &nbsp;
        <a href="https://twitter.com/purpleteamlabs" target="_blank"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</footer>
